{% extends 'base.html' %}
{% load static %}
{% block title %}Blog Home{% endblock title %}
{% block body %}
<main id="main" data-aos="fade-up">
    <section>
        <div class="container2">
            
            <h2>{{post.title}}</h2>
            <h3>{{post.author}}</h3>
            <h3>{{post.timestamp}}</h3>
            <p>{{post.content | safe}}</p>
            
            {% comment %} {% if user == post.author %} {% endcomment %}
            {% if flag %}
            {% comment %} {% if user == post.author %} {% endcomment %}
                <form action="/blog/edit/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="slug" value="{{post.slug}}">
                    <input type="hidden" name="content" value="{{post.content}}">
                    <input type="hidden" name="title" value="{{post.title}}">
                    <button type="submit">Edit</button>
                </form>
                {% comment %} {% endif %} {% endcomment %}
                
                <form action="/blog/delete/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="slug" value="{{post.slug}}">
                    <input type="hidden" name="content" value="{{post.content}}">
                    <input type="hidden" name="title" value="{{post.title}}">
                    <button type="submit">Delete</button>
                </form>
                
            {% endif %}
            <br>
        </div>

        {% if user.is_authenticated %}
        <form action="/blog/write_comment/" method="post">{% csrf_token %}
            <input type="text" placeholder="Enter Comment here" name="content">
            <input type="hidden" name="post_id" value="{{post.post_id}}">
            <button onclick="op()">Comment</button>
        </form>
        {% endif %}

        <div class="container">
            {% for comment in comments %}
            <div class="container">
                <strong>{{comment.author}}</strong>
                <h6>{{comment.timestamp}}</h6>
                <h5>{{comment.content}}</h5>
            </div>
            {% endfor %}


        </div>
    </section>
</main>

{% endblock body %}