<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/blog.css">
    <title>Document</title>
</head>
<body>
    <main class="blog-card">
        <section class="meta">
            <div class="photo" style="background-image: url(https://source.unsplash.com/{{post.title});"></div>
            <ul class="details">
                <li class="author"><a href="#">{{post.author}}</a> </li>
                <li class="data">{{post.timestamp}}</li>
                <li class="tag">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Learn</a></li>
                    </ul>
                    </li>
            </ul>   
        </section>
        <section class="description">
            <h1>{{post.title}}</h1>
            <p>{{post.content | safe}}</p>
            <p class="read-more">
                <a href="/blog/{{post.slug}}">Read more</a>
            </p>
        </section>
    </main>    
</body>
</html>